
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_My_LayoutPage.cshtml";
}

<h6>Index</h6>

@if(Session["username"] != null)
{
<h4><text>Welcome @Session["username"].ToString() </text></h4>
}

